@model Squidesk.Models.User

@{
    ViewBag.Title = "Verify";
    Layout = "~/Views/Shared/_LayoutRightSideContact.cshtml";
}

<head>
    <link href="~/styles/left_side_menu.css" rel="stylesheet" type="text/css" />
</head>



<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">

                <!-- imagine user -->
                <div class="profile-userpic">
                    <img src="#" class="img-responsive" alt="">
                </div>

                <!-- date user -->
                <div class="profile-user">
                    <div class="profile-user-name">
                        @Html.DisplayFor(model => model.nume)
                        @Html.DisplayFor(model => model.prenume)
                    </div>
                    <div class="profile-user-code">
                        @Html.DisplayFor(model => model.nrMat)
                    </div>
                </div>


                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            
                            @Html.ActionLink("Pagina de contact", "Details", "User")

                        </li>
                        <li class="active">
                            @Html.ActionLink("Programari", "Index", "Home")
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>
<p>
    
</p>
